* {
	box-sizing: border-box;
}

body {
	/*background-image: linear-gradient(#8ba8b7, #bdcdd6);*/
/*	background-image: linear-gradient(#8ba8b7, #fff);
	background-attachment: fixed;*/
}

.navbar {
	text-align: center;
	background-color: #8ba8b7;
	border: none;
	margin-bottom: 0;
	border-radius: 0;
}


#header-container {
	width: 100%;
	/*margin: 0 auto;*/
	/*float: none;*/
}

#header-container, #header-row {
	margin: 0;
}

img {
	margin: 10px 0 20px;
}

h1 {
	/*display: inline;*/
	margin: 15px 10px 35px;
	font-size: 3em;
	font-family: 'Asap', sans-serif;
	/*margin: 10px auto;*/
}

ul#menu-bar {
	/*float: right;*/
	width: 509px;
	list-style-type: none;
	padding: 0 10px;
	height: fit-content;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	margin: 5px auto;
	font-size: 1.5em;
}

#menu-bar li, #menu-bar li:visited {
	display: inline;
	padding: 0 10px;
	font-weight: bold;
	border-radius: 7px;
}

#menu-bar li a:link, #menu-bar li a:visited {
	color: #000;
	text-decoration-line: none;
}

#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
	background-color: #000;
	border-radius: 15px;
	position: absolute;
	height: 55px;
	bottom: 0;
	left: 209px;
}

#menu-bar li#Home-option a, #menu-bar li#Home-option a:visited {
	color: #fff;
	font-size: 1.4em;
	position: relative;
	top: 15%;
/*	font-size: 1.5em;*/
}

#menu-bar #Home-option-place-holder {
	padding: 0 48px 0 75px;
}

#menu-bar #Supervision-option-place-holder {
	padding-left: 27px
	padding-right: 0;
}

#menu-bar li.options:hover, #menu-bar li.options:active, #menu-bar li.page-on {
	background-color: #000;
	cursor: pointer;
}

#menu-bar li.options:hover a, #menu-bar li.options:active a, #menu-bar li.page-on a {
	color: #fff;
	text-decoration-line: none;
}

#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
	background-color: #fff;
	border: 2.5px solid #000;
	padding: 0 7.5px;
}

#menu-bar li#Home-option:hover a, #menu-bar li#Home-option:active a {
	color: #000;
}

/*****General main-content*****/
#main-content {
	padding-top: 15px;
	background-image: linear-gradient(#8ba8b7, #fff);
}

h2 {
	text-align: center;
	margin-bottom: 15px;
}
/*****end General main-content*****/

/*****Home page*****/
#home-img-container img {
	width: 100%;
	height: auto;
	margin: 0;
}

#home-img-container h2, #home-img-container div {
	text-align: left;
	margin: 0 0 10px;
}

#home-img-container h2 {
	font-weight: 700;
	font-size: 1.8em;
}

#home-img-container div {
	font-size: 1.4em;
}

#home-text-container {
	font-size: 1.4em;
	line-height: 1.5;
	padding: 0 35px; 
}

#home-text-container a:link, #home-text-container a:visited {
	font-size: 1.4em;
	text-decoration-line: none;
	/*color: #000066;*/
	color: #005c99;
}

#home-text-container a:hover, #home-text-container a:active {
	text-decoration-line: none;
	color: #33adff;
}

#pointing-row {
	margin: 15px 0;
}
/*****end Home page*****/

/*****Supervision page*****/
#Supervision-list {
	list-style-image: url(../images/person-icon.png);
	padding-left: 50px;
}

#Supervision-list li {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 1.1em;
	position: relative;
}

#Supervision-list li p {
	position: absolute;
	top: 15%;
}

#Supervision-list li p span {
	font-weight: 500;
	font-size: 1em;
}
/*****end Supervision page*****/

/*****CV page*****/
/*#pdf-cv {
	width: fit-content;
	margin: 0 auto;
}*/
/*****end CV page*****/

footer {
	text-align: center;
	background-color: #fff;
	padding: 15px 5px 10px;
}

footer div {
	font-size: 0.9em;
}

/****************media queries********************/
@media (min-width: 442px) and (max-width: 767px) {
	#Supervision-list li {
		margin-bottom: 35px;
	}
}

@media (max-width: 441px) {
	#Supervision-list li {
		margin-bottom: 50px;
	}
}

/*@media (max-width: 768px) {
	ul#menu-bar {
		width: 217px;
		font-size: 0.55em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 25px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 20px 0 31px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding: 0 0 0 11px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}*/

@media (min-width: 420px) and (max-width: 560px) {
	ul#menu-bar {
		width: 368.5px;
		font-size: 1.1em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 45px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 35px 0 52px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding-left: 17px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}

@media (min-width: 365px) and (max-width: 419px) {
	ul#menu-bar {
		width: 314.5px;
		font-size: 0.9em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 40px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 28.5px 0 44px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding-left: 15.5px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}

@media (min-width: 315px) and (max-width: 364px) {
	ul#menu-bar {
		width: 262.5px;
		font-size: 0.7em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 32px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 24px 0 37px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding-left: 13px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}

@media (max-width: 314px) {
	ul#menu-bar {
		width: 217px;
		font-size: 0.55em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 25px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 20px 0 31px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding-left: 11px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}
/****************end media queries********************/