* {
	box-sizing: border-box;
}

body {
	/*background-image: linear-gradient(#8ba8b7, #bdcdd6);*/
/*	background-image: linear-gradient(#8ba8b7, #fff);
	background-attachment: fixed;*/
}

.navbar {
	text-align: center;
	background-color: #8ba8b7;
	border: none;
	margin-bottom: 0;
	border-radius: 0;
}

#header-container {
	padding: 0 5px;
}

#navbar-header-container {
	width: 100%;
	/*margin: 0 auto;*/
	/*float: none;*/
}

#navbar-header-container, #header-row {
	margin: 0;
}

img {
	margin: 10px 0 20px;
}

h1 {
	/*display: inline;*/
	margin: 15px 10px 35px;
	font-size: 3em;
	font-family: 'Asap', sans-serif;
	font-weight: bold;
	/*margin: 10px auto;*/
}

ul#menu-bar {
	/*float: right;*/
	/*width: 509px;*/
	width: fit-content;
	list-style-type: none;
	padding: 0 2px;
	height: fit-content;
	background-color: #fff;
	border-radius: 10px;
	position: relative;
	margin: 5px auto;
	font-size: 1.5em;
}

#menu-bar li, #menu-bar li:visited {
	display: inline;
	padding: 0 10px;
	font-weight: bold;
	border-radius: 7px;
}

#menu-bar li a:link, #menu-bar li a:visited {
	color: #000;
	text-decoration-line: none;
}

#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
	background-color: #000;
	border-radius: 15px;
	position: absolute;
	height: 55px;
	bottom: 0;
	/*left: 209px;*/
	left: 204;
}

#menu-bar li#Home-option a, #menu-bar li#Home-option a:visited {
	color: #fff;
	font-size: 1.4em;
	position: relative;
	top: 15%;
/*	font-size: 1.5em;*/
}

#menu-bar #Home-option-place-holder {
	/*padding: 0 48px 0 75px;*/
	padding: 0 51px 0 61px;
}

#menu-bar #Supervision-option-place-holder {
	padding-left: 27px
	padding-right: 0;
}

#menu-bar li.options:hover, #menu-bar li.options:active, #menu-bar li.page-on {
	background-color: #000;
	cursor: pointer;
}

#menu-bar li.options:hover a, #menu-bar li.options:active a, #menu-bar li.page-on a {
	color: #fff;
	text-decoration-line: none;
}

#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
	background-color: #fff;
	border: 2.5px solid #000;
	padding: 0 7.5px;
}

#menu-bar li#Home-option:hover a, #menu-bar li#Home-option:active a {
	color: #000;
}

/*****General main-content*****/
#main-content {
	padding-top: 30px;
	background-image: linear-gradient(#8ba8b7, #fff);
	font-family: 'Asap', sans-serif;
}

h2 {
	text-align: center;
	margin: 0 0 25px;
}

a:link, a:visited {
	text-decoration-line: none;
	color: #005c99;
}

a:hover, a:active {
	text-decoration-line: none;
	/*color: #33adff;*/
	color: #00a7a7;
}
/*****end General main-content*****/

/*****Home page*****/
/*#home-container a:link, #home-container a:visited {
	text-decoration-line: none;
	color: #005c99;
}

#home-container a:hover, #home-container a:active {
	text-decoration-line: none;
}*/

#home-img-container img {
	width: 100%;
	height: auto;
	margin: 0;
	border-radius: 15px;
	box-shadow: 0 0 20px #000;
}

#home-img-container h2, #home-img-container div {
	text-align: left;
	margin: 0 0 10px;
}

#home-img-container h2 {
	font-weight: 700;
	font-size: 1.8em;
}

#home-img-container div {
	font-size: 1.4em;
}

#home-text-container {
	font-size: 1.4em;
	line-height: 1.5;
	padding: 0 35px; 
}

#home-text-container a:link, #home-text-container a:visited {
	font-size: 1.3em;
	/*color: #000066;*/
}

#pointing-row {
	margin: 15px 0;
}

#home-first-row {
	margin-bottom: 20px;
}

#home-news-container {
	margin-bottom: 15px;
}

#home-news-content {
	/*background-color: #ccc;*/
	background-image: linear-gradient(#8ba8b7, #fff);
	/*height: 470px;*/
	border-radius: 15px;
	border: 3px solid #000;
	text-align: center;
}

#home-news-content h3 {
	margin: 5px 0;
	color: #000;
	font-weight: 600;
}

#home-news-content ul {
	list-style-type: none;
	padding: 0 25px;
	font-size: 1.3em;
	text-align: left;
}

#home-news-content ul li {
	margin-bottom: 20px;
}

#home-news-content ul li span {
	font-size: 1.2em;
	font-weight: 600;
	padding-right: 8px;
}

#home-other-container {
	font-size: 1.3em;
	font-weight: 600;
	padding-left: 20px;
}

#home-other-container>ul {
	margin-bottom: 15px;
	font-size: 0.9em;
	font-weight: 300;
}

#home-other-container ul li {
	margin: 10px 0;
}

/*#home-other-container>ul {
	list-style-type: none;
}

#home-other-container>ul>li {
	margin-bottom: 10px; 
}*/
/*****end Home page*****/

/*****News page*****/
#News-container {
	font-size: 1.2em;
}

#News-container ul {
	list-style-type: none;
	padding: 0 5px;
}

#News-container ul li {
	margin-bottom: 20px; 
}

#News-container ul li span {
	font-weight: 700;
	font-size: 1.1em; 
}
/*****end News page*****/

/*****Supervision page*****/
#Supervision-list {
	list-style-image: url(../images/person-icon.png);
	padding: 0 20px 0 40px;
}

#Supervision-list li {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 1.1em;
	position: relative;
}

#Supervision-list li p {
	position: absolute;
	top: 15%;
}

#Supervision-list li p span {
	font-weight: 500;
	font-size: 1em;
}

#interns-h3 {
	padding-right: 20px;
}

/*****end Supervision page*****/

/*****CV page*****/
/*#pdf-cv {
	width: fit-content;
	margin: 0 auto;
}*/
/*****end CV page*****/

/*****end Publication page*****/
#publication-container ul {
	list-style-type: none;
	padding: 0;
}

#publication-container li {
	font-size: 1.3em;
	/*display: block;*/
	/*margin-top: 10px;*/
}

#more-padding-publication {
	padding-top: 150px;
}

#publication-start-row {
	margin: 25px 0 10px;
}

#publication-title {
	margin-top: 5px;
}

#publication-container a {
	font-size: 1.3em;
}

#publication-achievement {
	font-weight: 600;
	color: #009933;
}

#publication-content-row {
	padding: 0 15px;
	font-size: 0.9em;
	/*margin: 10px 0;*/
}

#publication-content-row p {
	/*padding-top: 150px;*/
	padding-top: 30px
	/*display: inline-block;*/
	/*margin-top: 10px;*/
}

#publication-content-row span {
	font-size: 1.2em;
}

#publication-image-container {
	/*padding: 30px 10px 0 0;*/
	padding-left: 0;
}

#publication-container img {
	width: 100%;
	margin: 0;
}

#publication-content-row p {
	color: #666;
}
/*#publication-continue-row {
	margin-bottom: 20px;
}*/

.bold-text {
	font-weight: 700;
}

h3 {
	text-align: center;
	font-weight: 700;
}

hr {
	/*padding-top: 100px; */
	margin-top: 20px;
	height: 1px;
	background-color: #8ba8b7;
	width: 80%;
}
/*****end Publication page*****/

/*****Footer page*****/
footer {
	text-align: center;
	background-color: #fff;
	padding: 15px 5px 10px;
}

footer div {
	/*font-size: 0.9em;*/
}
/*****end Footer page*****/

/****************media queries********************/
@media (max-width: 556px) {
	#home-img-container {
		width: 100%;
	}
	#home-text-container {
		width: 100%;
	}
	#home-img-container img {
		margin-bottom: 15px;
	}
	#publication-image-container {
		width: 40%;
	}
}

@media (max-width: 420px) {
	#publication-image-container {
		width: 50%;
	}
}

@media (max-width: 448px) {
	#Supervision-list li {
		margin-bottom: 40px;
	}
}

@media (max-width: 320px) {
	#Supervision-list li {
		margin-bottom: 50px;
	}
}

@media (max-width: 347px) {
	footer {
		 font-size: 0.85em;
	}
}



@media (max-width: 630px) {
	ul#menu-bar {
		width: 345px;
		width: fit-content;
		font-size: 1em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 40px;
		border-radius: 13px;
		/*left: 204;*/
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 32px 0 37px;
	}
}

@media (max-width: 430px) {
	ul#menu-bar {
		width: 311.04px;
		/*width: fit-content;*/
		font-size: 0.9em;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 35px;
		border-radius: 12px;
		/*left: 204;*/
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 27px 0 32px;
	}
}

@media (max-width: 380px) {
	ul#menu-bar {
		width: 292.9px;
		/*width: fit-content;*/
		font-size: 0.8em;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 35px;
		border-radius: 12px;
		/*left: 204;*/
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 27px 0 32px;
	}
}

@media (max-width: 340px) {
	ul#menu-bar {
		width: 263.8px;
		/*width: fit-content;*/
		font-size: 0.7em;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 30px;
		border-radius: 10px;
		/*left: 204;*/
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 24px 0 29px;
	}
}

@media (min-width: 1200px) {
	hr {
		margin-top: 60px;
	}
}

/*@media (min-width: 500px) and (max-width: 663px) {
	#home-img-container {
		width: 33.333333333%;
	}
	#home-text-container {
		width: 66.666666666%;
	}
}*/


/*@media (max-width: 768px) {
	ul#menu-bar {
		width: 217px;
		font-size: 0.55em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 25px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 20px 0 31px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding: 0 0 0 11px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}*/

/*@media (min-width: 420px) and (max-width: 560px) {
	ul#menu-bar {
		width: 368.5px;
		font-size: 1.1em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 45px;
		left: 148px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 35px 0 52px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding-left: 17px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}

@media (min-width: 365px) and (max-width: 419px) {
	ul#menu-bar {
		width: 314.5px;
		font-size: 0.9em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 40px;
		left: 127px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 28.5px 0 44px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding-left: 15.5px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}

@media (min-width: 315px) and (max-width: 364px) {
	ul#menu-bar {
		width: 262.5px;
		font-size: 0.7em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 32px;
		left: 107px;
		border-radius: 12px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 24px 0 37px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding-left: 13px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}

@media (max-width: 314px) {
	ul#menu-bar {
		width: 217px;
		font-size: 0.55em;
	}
	#menu-bar li, #menu-bar li:visited {
		padding: 0 5px;
	}
	#menu-bar li#Home-option, #menu-bar li#Home-option:visited {
		height: 25px;
		left: 91px;
		border-radius: 10px;
	}
	#menu-bar #Home-option-place-holder {
		padding: 0 20px 0 31px;
	}
	#menu-bar #Supervision-option-place-holder {
		padding-left: 11px
	}
	#menu-bar li#Home-option:hover, #menu-bar li#Home-option:active {
		padding: 0 2.5px;
	}
}*/
/****************end media queries********************/